<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Pages</title>
</head>
<body>
    <div>
        <h1>Razor Page</h1>
        @RenderBody()
    </div>
</body>
</html>
