@page
@model RecipeApp.Pages.AddIngredientsModel
@{
    ViewData["Title"] = "Добавление ингредиентов к рецепту";
}
<h2>@ViewData["Title"]</h2>
@{ var ingredient = Model.ingredient;
    var recipe = Model.recipe;
    var ingredientName = Model.ingredientName;
    @*var measurementName = Model.measurementName;*@}
<div asp-validation-summary="All"></div>
<input asp-for="ingredient.RecipeId" type="hidden" />
<form method="POST">
    @*<div><label>id</label><br /><input asp-for="ingredient.id" type="number" /></div>
        <div><label>Рецепт</label><br /><input asp-for="ingredient.RecipeId" /></div>*@
    <div><label>Ингредиент</label><br /><input asp-for="ingredientName" /></div>
    <div><label>Количество</label><br /><input asp-for="ingredient.Quantity" /></div>
    @*<div><label>Единица измерения</label><br /><input asp-for="measurementName" /></div>*@
    <input type="submit" value="Отправить" />
</form>
