@page
@model RecipeApp.Pages.AddIngredientsModel
@{
    ViewData["Title"] = "Добавление ингредиентов к рецепту";
}
<h2>@ViewData["Title"]</h2>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div><label>id</label><br /><input asp-for="ingredient.id" type="number" /></div>
    <div><label>Рецепт</label><br /><input asp-for="ingredient.Recipe_TypeId" /></div>
    <div><label>Ингредиент</label><br /><input asp-for="ingredient.IngredientId" /></div>
    <div><label>Количество</label><br /><input asp-for="ingredient.Quantity" /></div>
    <input type="submit" value="Отправить" />
</form>
