@page
@model RecipeApp.Pages.AddRecipeModel
@{
    ViewData["Title"] = "Добавление нового рецепта";
}
<h2>@ViewData["Title"]</h2>
<div asp-validation-summary="All"></div>
<form method="POST">
    @*<div><label>id</label><br /><input asp-for="recipe.id" type="number" /></div>*@
    <div><label>Имя</label><br /><input asp-for="recipe.Name" /></div>
    <div><label>Время готовки</label><br /><input asp-for="recipe.MakeTime" type="time" /></div>
    <div><label>Изображение</label><br /><input asp-for="recipe.Image" /></div>
    <div><label>Описание</label><br /><input asp-for="recipe.Description" /></div>
    <input type="submit" value="Отправить" />
</form>