@page
@model RecipeApp.Pages.AddTypeModel
@{
    ViewData["Title"] = "Добавление типа к рецепту";
}
<h2>@ViewData["Title"]</h2>
@{var type = Model.type;}
<div asp-validation-summary="All"></div>
<form method="POST">
    @*<div><label>id</label><br /><input asp-for="type.id"/></div>*@
    <div><label>Добавить тип к рецепту</label><br /><input asp-for="type.RecipeId" /></div>
    <div><label>Тип</label><br /><input asp-for="type.TypeId" /></div>
    <input type="submit" value="Отправить" />
</form>
