@page
@model RecipeApp.Pages.AddToFavoriteModel
@{
    ViewData["Title"] = "Добавление рецепта в любимые";
}
<h2>@ViewData["Title"]</h2>
@{ var recipe = Model.recipe;}
<div asp-validation-summary="All"></div>
<input asp-for="recipe.User.Login" type="hidden" />
<input asp-for="recipe.Recipe.id"  type="hidden" />

<form method="POST">
    <div>
        <label>Добавление рецепта в любимые</label><br /><output asp-for="recipe.Recipe.Name" />
        <span asp-validation-for="recipe.Recipe.Name"></span>
    </div>
    <input type="submit" value="Добавление рецепта в любимые" />
</form>

