@page
@model RecipeApp.Pages.DeleteRecipeModel
@{
    ViewData["Title"] = "Удаление рецепта";
}
<h2>@ViewData["Title"]</h2>
@{ 
    var recipe = Model.recipe;
    var ing = Model.recipe_Ingredient;
    var type = Model.recipe_Type;
}
<div asp-validation-summary="All"></div>

<form method="POST">
    <input asp-for="recipe.id" type="hidden" />
    <input asp-for="recipe_Ingredient.id" type="hidden" />
    <input asp-for="recipe_Type.id" type="hidden" />
    <div>
        <label>Удаление рецепта</label><br /><input asp-for="recipe.Name" />
        <span asp-validation-for="recipe.Name"></span>
    </div>
    <button class="waves-effect waves-light btn-large red" type="submit" name="action" style="margin:8px;">
        Удалить
    </button>
</form>

