@page
@model RecipeApp.Pages.FavouriteRecipesModel
@{
    ViewData["Title"] = "Список любимых рецептов";
}
<h2>@ViewData["Title"]</h2>
@foreach (var recipe in Model.recipes)
{
    <div class="col l4 s12 m7">
        <div class="card">
            <div class="card-image">
                <img src=@recipe.Recipe.Image>
                <span class="card-title">@recipe.Recipe.Name</span>
            </div>
            <div class="card-content">
                <p>
                    @recipe.Recipe.Description
                </p>
            </div>
            <div class="card-action">
                <a href=@Url.Page("/Recipe_ingredient", new { id = recipe.id })>Подробное описание рецепта</a>
            </div>
            <div class="card-action">
                <a href=@Url.Page("/UpdateRecipe", new { id = recipe.id})>Редактировать рецепт</a>
            </div>
            <div class="card-action">
                <a href=@Url.Page("/DeleteRecipe", new { id = recipe.id})>Удалить рецепт</a>
            </div>
        </div>
    </div>
}
