@page
@model RecipeApp.Pages.IndexModel
@{
    ViewData["Title"] = "Список рецептов";
    var login = Model._login;
}
<h2>@ViewData["Title"]</h2>

<p><a asp-page="AddRecipe">Добавить рецепт</a></p>
@foreach (var type in Model.types)
{
<p>
    Показать рецепты по типам:
    <a href=@Url.Page("/Recipe", new { name = type.Name})>@type.Name</a>
</p>
    
}

@foreach (var recipe in Model.recipes)
{
    <div class="col l4 s12 m7">
        <div class="card">
            <div class="card-image">
                <img src=@recipe.Image>
                <span class="card-title">@recipe.Name</span>
            </div>
            <div class="card-content">
                <p>
                    @recipe.Description
                </p>
            </div>
            <div class="card-action">
                <a href=@Url.Page("/Recipe_ingredient", new { id = recipe.id })>Подробное описание рецепта</a>
            </div>
            <div class="card-action">
                <a href=@Url.Page("/UpdateRecipe", new { id = recipe.id})>Редактировать рецепт</a>
            </div>
            <div class="card-action">
                <a href=@Url.Page("/DeleteRecipe", new { id = recipe.id})>Удалить рецепт</a>
            </div>
        </div>
    </div>
}

    