@page
@model RecipeApp.Pages.UpdateRecipeModel
@{
    ViewData["Title"] = "Редактирование рецепта";
}
<h2>@ViewData["Title"]</h2>
@{ var recipe = Model.recipe;}
<div asp-validation-summary="All"></div>
<form method="POST" asp-route-id="@recipe.id">
    <input asp-for="user.Login" type="hidden" />
    <input asp-for="user.id" type="hidden" />
    <div>
        <label>Имя</label><br /><input asp-for="recipe.Name" />
        <span asp-validation-for="recipe.Name"></span>
    </div>
    <div>
        <label>Время готовки</label><br /><input asp-for="recipe.MakeTime" type="time" />
        <span asp-validation-for="recipe.MakeTime"></span>
    </div>
    <div>
        <label>Изображение</label><br /><input asp-for="recipe.Image" />
        <span asp-validation-for="recipe.Image"></span>
    </div>
    <div>
        <label>Краткое описание</label><br /><textarea id="textarea" asp-for="recipe.DescriptionShort" class="materialize-textarea"></textarea>
        <span asp-validation-for="recipe.DescriptionShort"></span>
    </div>
    <div>
        <label>Полное описание приготовления</label><br /><textarea id="textarea" asp-for="recipe.DescriptionFull" class="materialize-textarea"></textarea>
        <span asp-validation-for="recipe.DescriptionFull"></span>
    </div>
    <div>
        <label>Белки</label><br /><textarea id="textarea" asp-for="recipe.Proteins" class="materialize-textarea"></textarea>
        <span asp-validation-for="recipe.Proteins"></span>
    </div>
    <div>
        <label>Жиры</label><br /><textarea id="textarea" asp-for="recipe.Fats" class="materialize-textarea"></textarea>
        <span asp-validation-for="recipe.Fats"></span>
    </div>
    <div>
        <label>Углеводы</label><br /><textarea id="textarea" asp-for="recipe.Carbohydrates" class="materialize-textarea"></textarea>
        <span asp-validation-for="recipe.Carbohydrates"></span>
    </div>
    <div>
        <label>Калорийность</label><br /><textarea id="textarea" asp-for="recipe.Nutritions" class="materialize-textarea"></textarea>
        <span asp-validation-for="recipe.Nutritions"></span>
    </div>
    <button class="waves-effect waves-light btn-large red" type="submit" name="action" style="margin:8px;">
        Изменить
    </button>
</form>
